@CHARSET "ISO-8859-1";

.buttonAdd {
	background: -webkit-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Firefox 3.6 to 15 */
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	width: 22%;
}

.buttonAdd:hover {
	background: -webkit-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#A40234, #C10641, #DC1856);
	/* For Firefox 3.6 to 15 */
	width: 22%;
}

.styleLogin {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #5F5C5C;
	font-size: 15px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #a40234, #a40234);
	background-image: -moz-linear-gradient(top, #a40234, #a40234);
	background-image: -ms-linear-gradient(top, #a40234, #a40234);
	background-image: -o-linear-gradient(top, #a40234, #a40234);
	background-image: linear-gradient(to bottom, #a40234, #a40234);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.buttonDefault {
	background: #E1DEDE;
	background: -webkit-linear-gradient(top, #E1DEDE, #E1DEDE);
	background: -moz-linear-gradient(top, #E1DEDE, #E1DEDE);
	background: -ms-linear-gradient(top, #E1DEDE, #E1DEDE);
	background: -o-linear-gradient(top, #E1DEDE, #E1DEDE);
	background: linear-gradient(to bottom, #E1DEDE, #E1DEDE);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
	background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #000000;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.button:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #a40234, #a40234);
	background-image: -moz-linear-gradient(top, #a40234, #a40234);
	background-image: -ms-linear-gradient(top, #a40234, #a40234);
	background-image: -o-linear-gradient(top, #a40234, #a40234);
	background-image: linear-gradient(to bottom, #a40234, #a40234);
	text-decoration: none;
}

.btnDelete {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btnDelete:hover {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btnCheck {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border-radius: 5px;
}

.active2 {
	color: #840925;
	font-weight: 900;
}

.btnCheck:hover {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	border-radius: 5px;
}

.btnCommandButton {
	src: url('../img/guardar.png');
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btnCommandButton:hover {
	src: url('../img/guardar.png');
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading a.collapsed:after {
	content: "\e080";
}

.bar {
	width: 100%;
	height: 20px;
	border: 1px solid #a40234;
	border-radius: 3px;
	background-image: repeating-linear-gradient(-45deg, #a40234, #a40234 11px, #eee 10px, #eee
		20px /* determines size */
    );
	background-size: 28px 28px;
	animation: move .5s linear infinite;
}

@
keyframes move { 0% {
	background-position: 0 0;
}

100%
{
background-position


:

 

28
px

 

0;
}
}
  @media ( min-width : 768px) {
	.dl-horizontal dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 180px;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
	table {
			width:100%;
			font-size: 13px;
		}
				
	img.redimension{
			width: 30px;
		}
		
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	table {
			width:100%;
			font-size: 13px;
		}
				
	img.redimension{
			width: 30px;
		}
		
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	table {
			width:65%;
			font-size: 11.5px;
		}
			
	img.redimension{
			width: 27px;
		}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	table {
			width:45%;
			font-size: 11.5px;
		}

	img.redimension{
			width: 23px;
		}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	table {
			width:28%;
		}
		
		img.redimension{
			width: 20px;
	
		}
    }

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	table {
			width:15%;
			font-size: 10px;
		}
	
	img.redimension{
			width: 18px;
		}

}

